@font-face {
    font-family: "Mulish";
    font-weight: 700;
    src: url(./fonts/Mulish/static/Mulish-Bold.ttf);
}

@font-face {
    font-family: "Ubuntu";
    font-weight: 400;
    src: url(./fonts/Ubuntu/Ubuntu-Regular.ttf);
}

:root {
    --main-color: #c3024e;
    --header-logo: "Oswald", sans-serif;
}

@maintitle: "Ubuntu", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Ubuntu" sans-serif;
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./imq/bg.jpg');
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(110, 27, 27, 50%);

}

.wrapper {
    width: calc(100% - 90px);
    max-width: 1440px;
    margin: 0 auto;
}

.header-block {
    width: 28.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.594);
}

.header-logo {
    margin-top: 4rem;
}

.logo-link {
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    font-size: 3rem;
    font-family: "Mulish", sans-serif;
    font-weight: 700;

    span {
        color: #fff;
    }
}

nav {
    margin-top: 4.7rem;

    .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
    }
}

.nav-item {
    &__link {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Ubuntu", sans-serif;
        font-weight: 400;
        padding: 12px 5px;
        display: block;
        font-size: 1.7rem;
        transition: all 0.3s ease-in;
    }

    &__link:hover {
        color: var(--main-color);
    }
}

.main-content__contact {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    padding: 12px 5px;
    display: block;
    font-size: 1.7rem;
    transition: all 0.3s ease-in;
    span {
        color: #909090;
        font-weight: 900;
    }
}



.main-content {
    margin-left: 10.4rem;
    margin-top: 20rem;

    &__title {
        font-size: 4.6rem;
        color: #fff;
        font-family: "Mulish", sans-serif;
        font-weight: 700;

        span {
            color: var(--main-color);
        }
    }

    &__descript {
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        margin-bottom: 3rem;

        span {
            font-size: 25px;
        }
    }
}

.btn {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    background-color: transparent;
    font-style: 2.2rem;
    color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 17px;
    padding: 15px 10.6 rem;
    width: 17.6rem;
    height: 4.1rem;
    
}:enabled

.block-img {
    margin-top: 5rem;
    display: flex;
    padding: 50px, 0px;
    flex-direction: column;
}

.image {
    margin-right: 10px;
    width: 146rem;
    max-width: 100%;
    ;
}


.main-content__info {
    font-size: 16px;
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-weight: 700;   
}

.footer-block {
    width: 96px;
    height: 56px;
    margin-left: -10rem;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./imq/el.jpg');
    background-size: contain;
}

.image-button-vk {
    width: 18.69px;
    height: 18.69px;
    border: none;
    background-image: url('./imq/vk.png');
    background-size: contain;
    background-color: transparent;
}

.image-button-od {
    width: 12.4px;
    height: 20.83px;
    border: none;
    background-image: url('./imq/od.svg');
    background-size: auto;
    background-color: #fff;
    background-position: center center;
}

@media(max-width:768px) {
    .main-content__title {
        font-size: 35px;
    }

    .main-content__descript {
        line-height: 30px;
    }

    .btn {
        font-size: 1.1rem;
        padding: 10px 12px;
    }
    .main-content__info {
        font-size: 16px;
    }
}

@media(max-width:320px) {
    .wrapper {
        width: calc(100% - 10px);
    }
    .main-content {
        margin-left: 10.4px;
        margin-top: 20px;
    }
    .main-content__title {
        font-size: 14px;
    }

    .main-content__descript {
        font-size: 8px;
        span{
            font-size: 10px;
        }
    }

    .header-block {
        width: 14rem;
    }
    
    .header-logo {
        margin-top: 2rem;
    }
    
    .logo-link {
        font-size: 14px;        
    }
    
    nav {
        margin-top: 2.4rem; 
    }
    
    .nav-item {
        &__link {
           
            font-size: 9px;
        }
    }
    .main-content__info {
        font-size: 9px;
    }
}